{% macro desenha_tabela(trilha) %}
    {{ trilha }}
    <table border="1">
    <tr>
        <th></th>
        {% for dia in dias %}
            <th>
                {{ dia.strftime('%A') }}
            </th>
        {% endfor %}
    </tr>
    {% for horario in horarios %}
        <tr>
            <th>
                {{ horario.strftime('%H:%M') }}
            </th>
            {% for dia in dias %}
            <td>
                {{ palestras[trilha][dia][horario] }}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endmacro %}


{% for trilha in trilhas %}
    {{ desenha_tabela(trilha) }}
{% endfor %}
