{% macro messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category %}
        <div class="alert alert-{{ category }}">
        {% else %}
        <div class="alert">
        {% endif %}
          <a href="javascript:void(0)" class="close" data-dismiss="alert">x</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
<html lang="en" style="height: auto;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Semana Acadêmica - BILAC Faculdades</title>
        <meta name="description" content="Bootstrap HTML5 Template">
        <meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template">
        <meta name="author" content="themetorium.net">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/vendor/animations/css/animate.min.css">
        <link rel="stylesheet" href="/static/vendor/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" href="/static/vendor/owl-carousel/css/owl.carousel.css">
        <link rel="stylesheet" href="/static/vendor/owl-carousel/css/owl.theme.css">
        <link rel="Stylesheet" type="text/css" href="/static/vendor/countdown/style/main.css">
        <link rel="stylesheet" href="/static/css/theme.css">
        <link rel="stylesheet" href="/static/css/mobile.css">
        <link rel="stylesheet" href="/static/css/custom.css">
    </head>
    <body data-spy="scroll" data-target="#main-navbar">
        <div class="page-loader" style="display: none;"></div>
        <div class="body">
            <div id="body-container">
                <header id="header" class="header-main">
                    <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top navbar-transparent" role="navigation">
                    </nav>
                </header>
                <section id="" class="parallax" style="opacity: 1; background-image: url(http://159.203.118.4/static/img/bg-index3.jpg); background-position: 0px 0px;height: 100%;      background-color: #171717;">
                    <div class="cover"><div class="cover-inner"></div></div>
                    <div class="container" style="max-width: 320px;">
                        <div class="caption text-center text-white" data-stellar-ratio="0.7" style="top: 333.5px; display: block;">
                            <div class="" style="opacity: 1; display: block;" id="">
                                <div class=""><div class="item" style="margin-top: 50px;">
                                    <h1>Login</h1>
                                    <br>
                                    {{ messages() }}
                                    <form method="POST" class="text-center">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            {{ form.username.label }}
                                            {{ form.username(autocomplete="off", autocorrect="off", autocapitalize="off", spellcheck="false", class_="form-control") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.password.label }}
                                            {{ form.password(class_='form-control') }}
                                        </div>
                                        <p>
                                            <button type="submit" class="btn btn-primary">Entrar</button>
                                        </p>
                                    </form>
                                    <div class="more-space-m"></div>
                                </div></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script src="/static/vendor/jquery/jquery-1.11.1.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/vendor/owl-carousel/js/owl.carousel.min.js"></script>
        <script src="/static/vendor/stallar/jquery.stellar.min.js"></script>
        <script src="/static/vendor/animations/js/wow.min.js"></script>
        <script src="/static/vendor/classie.js"></script>
        <script src="/static/vendor/jquery.easing.min.js"></script>
        <script src="/static/vendor/waypoints.min.js"></script>
        <script src="/static/vendor/jquery.counterup.min.js"></script>
        <script src="/static/vendor/typed.js"></script>
        <script src="/static/vendor/smoothscroll.js"></script>
        <script language="Javascript" type="text/javascript" src="/static/vendor/countdown/js/jquery.lwtCountdown-1.0.js"></script>
        <script language="Javascript" type="text/javascript" src="/static/vendor/countdown/js/misc.js"></script>
        <script src="/static/js/theme.js"></script>
        <script src="/static/js/custom.js"></script>
    </body>
</html>
